################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Software/LuvaApp/LuvaApp/obj
/Software/LuvaApp/LuvaApp/LuvaApp.csproj.user
/Software/LuvaApp/.vs
/Software/LuvaApp/LuvaApp/bin/Debug/net8.0-android
/Software/LuvaApp/LuvaApp/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/Software/LuvaApp/LuvaApp/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/PredictAPI/GeraOnnx/.ipynb_checkpoints
/PredictAPI/GeraOnnx/rf_iris.onnx
/PredictAPI/GeraOnnx/svc.onnx
