################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Software/LuvaApp/LuvaApp/obj
/Software/LuvaApp/LuvaApp/LuvaApp.csproj.user
/Software/LuvaApp/.vs
